<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2009-2012 the original author or authors. Licensed under the 
	Apache License, Version 2.0 (the "License"); you may not use this file except 
	in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 
	Unless required by applicable law or agreed to in writing, software distributed 
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for 
	the specific language governing permissions and limitations under the License. -->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.superman.web.dao.CompetitionAccountDao">

	<cache />
	<sql id="Base_Column_List">
		competition_account_id,login_account,login_password,competition_id,account_remark,account_score,account_code_root_path,is_use
	</sql>


	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		<trim suffixOverrides=",">
			<if test="competitionAccountId != null">
				and competition_account_id = #{competitionAccountId}
			</if>
			<if test="loginAccount != null">
				and login_account = #{loginAccount}
			</if>
			<if test="loginPassword != null">
				and login_password = #{loginPassword}
			</if>
			<if test="competitionId != null">
				and competition_id = #{competitionId}
			</if>
			<if test="accountRemark != null">
				and account_remark =
				#{accountRemark}
			</if>
			<if test="accountScore != null">
				and account_score =
				#{accountScore}
			</if>
			<if test="accountCodeRootPath != null">
				and account_code_root_path =
				#{accountCodeRootPath}
			</if>
			<if test="isUse != null">
				and is_use = #{isUse}
			</if>
		</trim>
	</sql>

	<insert id="add" parameterType="cn.superman.web.po.CompetitionAccount"
		useGeneratedKeys="true" keyProperty="competitionAccountId">
		insert into
		competition_account(login_account,login_password,competition_id,account_remark,account_score,account_code_root_path,is_use)
		values(#{loginAccount},#{loginPassword},#{competitionId},#{accountRemark},#{accountScore},#{accountCodeRootPath},#{isUse})
	</insert>

	<insert id="createAccountBatch" useGeneratedKeys="true"
		parameterType="java.util.List">
		insert into
		competition_account(login_account,login_password,competition_id,account_code_root_path,is_use)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.loginAccount},#{item.loginPassword},#{item.competitionId},#{item.accountCodeRootPath},#{item.isUse})
		</foreach>
	</insert>

	<update id="update" parameterType="cn.superman.web.po.CompetitionAccount">
		update competition_account
		<set>
			<if test="loginAccount != null">
				login_account = #{loginAccount},
			</if>
			<if test="loginPassword != null">
				login_password = #{loginPassword},
			</if>
			<if test="competitionId != null">
				competition_id = #{competitionId},
			</if>
			<if test="accountRemark != null">
				account_remark = #{accountRemark},
			</if>
			<if test="accountScore != null">
				account_score = #{accountScore},
			</if>
			<if test="accountCodeRootPath != null">
				account_code_root_path = #{accountCodeRootPath},
			</if>
			<if test="isUse != null">
				is_use = #{isUse},
			</if>
		</set>
		where competition_account_id = #{competitionAccountId}
	</update>

	<update id="releaseAllAccountByCompetitionId" parameterType="Integer">
		update
		competition_account set
		is_use = false, competition_id =
		-1,account_remark=null,account_score=null,account_code_root_path=null
		where
		competition_id =
		#{_parameter}
	</update>

	<update id="releaseSomeAccount">
		update
		competition_account set
		is_use = false,
		competition_id =
		-1,account_remark=null,account_score=null,account_code_root_path=null
		where
		competition_id =
		#{competitionId} and is_use =
		false limit
		${releaseCount};
	</update>

	<update id="setAccountScoreByCodeRootPath">
		update competition_account set
		account_score = #{accountScore}
		<where>
			<if test="#{codeRootPath != null}">
				and account_code_root_path = #{codeRootPath}
			</if>
		</where>
	</update>

	<delete id="deleteById" parameterType="Integer">
		delete from competition_account
		<where>
			<if test="#{_parameter != null}">
				and competition_account_id = #{_parameter}
			</if>
		</where>
	</delete>

	<delete id="deleteWithCondition" parameterType="cn.superman.web.po.CompetitionAccount">
		delete from competition_account
		<where>
			<include refid="Example_Where_Clause" />
		</where>
	</delete>

	<select id="find" resultType="cn.superman.web.po.CompetitionAccount">
		select
		<include refid="Base_Column_List" />
		from competition_account
	</select>

	<select id="findById" parameterType="Integer"
		resultType="cn.superman.web.po.CompetitionAccount">
		select
		<include refid="Base_Column_List" />
		from competition_account
		<where>
			<if test="#{_parameter != null}">
				and competition_account_id = #{_parameter}
			</if>
		</where>
	</select>

	<select id="findWithCondition" parameterType="cn.superman.web.po.CompetitionAccount"
		resultType="cn.superman.web.po.CompetitionAccount">
		select
		<include refid="Base_Column_List" />
		from competition_account
		<where>
			<include refid="Example_Where_Clause" />
		</where>
	</select>

	<select id="findOneWithCondition" parameterType="cn.superman.web.po.CompetitionAccount"
		resultType="cn.superman.web.po.CompetitionAccount">
		select
		<include refid="Base_Column_List" />
		from competition_account
		<where>
			<include refid="Example_Where_Clause" />
		</where>
		limit 0,1
	</select>

	<select id="findAllCompetionId" resultType="Integer">
		SELECT
		competition_id
		FROM
		competition_account
		GROUP BY
		competition_id
	</select>

	<select id="queryTotalCount" resultType="Long">
		select count(*)
		from
		competition_account
	</select>

	<select id="queryTotalCountWithCondition" parameterType="cn.superman.web.po.CompetitionAccount"
		resultType="Long">
		select count(*)
		from competition_account
		<where>
			<include refid="Example_Where_Clause" />
		</where>
	</select>


</mapper>