<div class="common-content" ng-controller="managerProblemTypeCtr">
	<div id="loadingTip" class="alert alert-success alert-dismissable"
		ng-if="isLoadingData">加载数据中，请稍等</div>

	<div ng-if="!isLoadingData">
		<button class="btn btn-primary common-topButton" type="button"
			ng-click="add()">添加类型</button>
		<button class="btn btn-success common-topButton" type="button"
			ng-click="refresh()">刷新数据</button>

		<table
			class="table table-bordered table-hover table-striped common-dataTable">
			<thead>
				<tr>
					<th class="span1">编号</th>
					<th class="span2">题目类型名字</th>
					<th class="span8">题目类型描述</th>
					<th class="span2">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="problemType in page.datas">
					<td class="span1">{{problemType.problemTypeId}}</td>
					<td class="span2">{{problemType.problemTypeName}}</td>
					<td class="span8">{{problemType.problemTypeDescription}}</td>
					<td class="span2">
						<button class="btn btn-info " type="button"
							ng-click="edit($index)">修改</button>
						<button class="btn btn-danger " type="button"
							ng-click="delete($index)">删除</button>
					</td>
				</tr>
			</tbody>
		</table>

		<ul class="pager">
			<li><a href="javascript:;" ng-if="isCanPre"
				ng-click="changePage(false)">&laquo;上一页</a></li>
			<li class="active"><span>页码：{{page.currentPage}}/{{page.totalPage}}
					&nbsp; &nbsp;总条数：<span class="badge">{{page.totalCount}}</span>
			</span></li>
			<li><a href="javascript:;" ng-if="isCanNext"
				ng-click="changePage(true)">下一页&raquo;</a></li>
		</ul>
	</div>
	<!-- 修改弹出框 开始-->
	<div class="modal fade dialog" id="updateDialog">
		<div class="modal-dialog">
			<form ng-submit="editSubmit()">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only"></span>
						</button>
						<h4 class="modal-title">题目类型信息修改窗口</h4>
					</div>
					<div class="modal-body">
						<table class="table table-bordered table-hover ">
							<tbody>
								<tr>
									<td>题目类型名字：</td>
									<td><input type="text"
										ng-model="currentUpdateObj.problemTypeName" required
										maxlength="20"></td>
								</tr>
								<tr>
									<td>题目类型描述：</td>
									<td><textarea rows="5" cols="30"
											ng-model="currentUpdateObj.problemTypeDescription"></textarea></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success">保存</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- 修改弹出框 结束-->

	<!-- 添加弹出框 开始-->
	<div class="modal fade dialog" id="addDialog">
		<div class="modal-dialog">
			<form ng-submit="addSubmit()">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only"></span>
						</button>
						<h4 class="modal-title">题目类型添加窗口</h4>
					</div>
					<div class="modal-body">
						<table class="table table-bordered table-hover ">
							<tbody>
								<tr>
									<td>题目类型名字：</td>
									<td><input type="text"
										ng-model="currentAddObj.problemTypeName" required
										maxlength="20"></td>
								</tr>
								<tr>
									<td>题目类型描述：</td>
									<td><textarea rows="5" cols="30"
											ng-model="currentAddObj.problemTypeDescription"></textarea></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success">添加</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- 添加弹出框 结束-->
</div>


